html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

@font-face {
  font-family: 'playfair_displaybold';
  src: url('fonts/playfairdisplay-bold-webfont.eot');
  src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
       url('fonts/playfairdisplay-bold-webfont.woff') format('woff'),
       url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
       url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'playfair_displaybold_italic';
  src: url('fonts/playfairdisplay-bolditalic-webfont.eot');
  src: url('fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
       url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
       url('fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'playfair_displayitalic';
  src: url('fonts/playfairdisplay-italic-webfont.eot');
  src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
       url('fonts/playfairdisplay-italic-webfont.woff') format('woff'),
       url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
       url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'playfair_displayregular';
  src: url('fonts/playfairdisplay-regular-webfont.eot');
  src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
       url('fonts/playfairdisplay-regular-webfont.woff') format('woff'),
       url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
       url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'ralewaylight';
  src: url('fonts/raleway-light-webfont.eot');
  src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-light-webfont.woff2') format('woff2'),
       url('fonts/raleway-light-webfont.woff') format('woff'),
       url('fonts/raleway-light-webfont.ttf') format('truetype'),
       url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'ralewaylight_italic';
  src: url('fonts/raleway-lightitalic-webfont.eot');
  src: url('fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
       url('fonts/raleway-lightitalic-webfont.woff') format('woff'),
       url('fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
       url('fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'ralewaymedium';
  src: url('fonts/raleway-medium-webfont.eot');
  src: url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-medium-webfont.woff2') format('woff2'),
       url('fonts/raleway-medium-webfont.woff') format('woff'),
       url('fonts/raleway-medium-webfont.ttf') format('truetype'),
       url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'ralewaymedium_italic';
  src: url('fonts/raleway-mediumitalic-webfont.eot');
  src: url('fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
       url('fonts/raleway-mediumitalic-webfont.woff') format('woff'),
       url('fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
       url('fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}
/* End fonts */

* {
  box-sizing: border-box;
  justify-content: center;
}

body {
  font-family: sans-serif;
  color: #2d2d2d;
  font-size: 14px;
  box-sizing: border-box;
  color: #2d2d2d;
  font-family: 'ralewaymedium';
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 100px;
  padding: 0 2%;
}

.aloha {
  max-width:150px;
  flex: 1;
  order: 1;
  padding: .9rem 0 15px 10px;
  max-width: 120px;
}

.cart {
  max-width: 70px;
  flex: 1;
  order: 2;
  padding: .5rem 15px 5px 10px;
}

nav {
  display: flex;
  flex-flow: row wrap;
  order: 3;
  width: 100%;
}

nav ul {
  width: 60%;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 0% 0%;
  padding-top: 10px;
  border-top: 1px solid #d7d7d7;
  text-align: center;
}

nav li {
  margin: 0 2%;
  text-transform: uppercase;
  color: #e2574c;
  font-family: 'ralewaylight', sans-serif;
  justify-content: center;
}

nav li a {
  text-decoration: none;
  color: #e2574c;
}

nav li a:hover {
    color: #b64036;
}

.hero-image-subtitle, h3 {
  font-family:'playfair_displayregular';
} 

h2 {
  font-family: 'playfair_displayitalic';
  font-size: 2rem;
  font-style: italic;
}

.strong {
  font-family: 'playfair_displaybold';
  font-weight: bold;
  font-style: normal;
}

.hero-image {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 450px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url(images/banner-girl.png), 
  url(images/flower-bkgd.jpg);
  background-repeat: repeat, no-repeat, repeat-x;
  background-position: 50% 0%, 50% 2rem;
  background-size: cover, 195px 479px, cover;
  position: relative;
}

.hero-image-NC {
  color: white;
  text-transform: uppercase;
  font-family: 'ralewaylight';
  font-size: 1.1rem;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3);
}

.hero-image-subtitle {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'playfair_displayregular';
  color: white;
  margin-top: 10px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3);
}

.hero-image-year {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'playfair_displayregular';
  color: white;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
  10px 20px 5px rgba(0,0,0,0.05),
  -10px 20px 5px rgba(0,0,0,0.05);
}

 .hand-crafted {
  height: 300px;
  max-width: 900px;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
  font-size: 1.1rem;
  padding-top: 1.3rem;
  margin: 0 auto;
}

.hand-crafted h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  max-width: 75%;
  line-height: 40px;
}

.hand-crafted p {
  max-width: 75%;
  font-family: 'ralewaylight';
  text-shadow: none;
}

.wrapper {
  padding-bottom: 200%;
  position: relative;
  width: 100%;
}  

.grid { 
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  font: inherit;
  height: 100%;
  width: 100%;
  align-content: stretch;
  margin: 0;
  border-left: 10px;
} 

.grid a {
  font-family: 'ralewaymedium';
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 2.0rem;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
} 

.men {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 100%;
  border: 4px solid #fff;
  position: relative;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.2), 
  rgba(0, 0, 0, 0.2)), url("images/mens-category.jpg");
  background-size: cover, cover;
}

.tren {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
  border: 4px solid #fff;
  position: relative;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), 
  rgba(0, 0, 0, 0.2)), url("images/trends-category.jpg");
  background-size: cover, cover;
}

.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
  border: 4px solid #fff;
  position: relative;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), 
  rgba(0, 0, 0, 0.2)), url("images/glasses-category.jpg");
  background-size: cover, cover;
}

.sal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
  border: 4px solid #fff;
  position: relative;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), 
  rgba(0, 0, 0, 0.2)), 
  url("images/sale-category.jpg");
  background-size: cover, cover;
}

.bag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
  border: 4px solid #fff;
  position: relative;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), 
  rgba(0, 0, 0, 0.2)), 
  url("images/bags-category.jpg");
  background-size: cover, cover;
}

.women {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 100%;
  border: 4px solid #fff;
  position: relative;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), 
  rgba(0, 0, 0, 0.2)), 
  url("images/womens-category.jpg");
  background-size: cover, cover;
}

.sign-up {
  box-sizing:border-box;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), 
  rgba(0, 0, 0, 0.2)), 
  url("images/wave-bkgd.jpg");
  background-repeat: no-repeat;
  background-position: 50% 93%;
  color: white;
  text-shadow: 2px 4px 4px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3);
  border-bottom: 20px #fff;
}

.caousel {
  padding-bottom: 100px;
  height: 1000px;
}

.main-carousel {
  flex-direction: row;
  margin-bottom: 50px;
  height: 500px;
  margin-left: 25px;
  margin-right: 25px;
}

.carousel-cell {
  text-align: center;
  width: 100%;
}

.most-loved {
  line-height: 100px;
  text-align: center;
  font-size: 2rem;
  margin-top: 25px;
}   

li p {
  text-transform: uppercase;
  font-size: .8rem;
  color: #797979;
  line-height: 10px;
  padding-bottom: 20px;
}

li h3 {
  font-family: 'playfair_displayregular';
  color: #e2574c;
  font-size: 1.6rem;
  line-height: 70px;
}

li :nth-child(4){
  font-size: 1rem;
}

h2 span {
  margin-left: 15px;
  font-family: 'playfair_displaybold';
  font-style: normal;
}

.sign-up div {
  text-align: center;
  line-height: 30px;
}

.update-text {
  margin-top: 20px;
  padding: 15px 10px 20px 10px;
  font-family: 'ralewaylight';
  max-width: 690px;
  font-size: 1.15rem;
}

form {
  display: flex;
  flex-flow: row;
  width: 50vw;
  min-width: 260px;
  max-width: 420px;
  justify-content: space-between;
	background-color: #fff;
	padding: 5px;
  border-radius: 50px;
  text-align: center;
}

input::placeholder {
  color: rgb(83, 83, 83);
}

.subscribe {
  font-size: .8rem;
} 

input {
  background-color: #fff;
  margin-left: 10px;
  border: 0;
  font-family: 'ralewaylight';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  min-width: 80px;
  width: 30rem;
}

button{
	background-color: #e2574c;
	border-radius: 50px;
	color: #fff;
  border: 0;
  font-family: 'ralewaylight';
  position: relative;
} 

footer {
  height: 288px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  color: white;
  font-family: 'playfair_displayregular';
  text-decoration: none;
  border-top: 10px solid #fff;
}

.copyright, .phone, .bottomFooter {
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: bold;
}

a[href="mailto:info@alohaapparel.com"] {
  color: #fff;
}
a[href="mailto:info@alohaapparel.com"]:hover {
    color: #b64036;
}

a:hover {
  color: #dfdda9;
}

.phone, .bottomFooter {
  line-height: 20px;
}

.copyright {
  line-height: 10px;
}

.bottomFooter {
  color: #969696; 
}

.icons {
  margin-top: 20px;
  margin-bottom: 40px;
}

.icons ul {
  display: flex;
  flex-flow: row wrap;
  font-family: 'ralewaymedium', sans-serif;
}

.icons li:hover {
  color: #b64036;
  transition: color .2s ease .2s;
}

.icons i {
  margin: 0 10px;
}

.icons a {
  display: none;
}

/* Begin 600px Responsivness */


@media all and (min-width:600px) {
  
.aloha-logo {
    max-width:150px;
    flex: 1;
    order: 1;
    padding: 30px 0 10px 30px;
}
  
.cart-logo {
    max-width: 80px;
    flex: 1;
    order: 3;
    padding: 30px 30px 10px 0;
  }
  
nav {
    display: flex;
    flex-flow: row wrap;
    order: 2;
    flex: 2;
    width: 100%;
    justify-content: center;
}
  
nav ul {
    width: 60%;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 5% 1%;
    padding-top: 5%;
    border-top: none;
  }

  .wrapper { 
    padding-bottom: 50%;
  }

   .men {
    flex:0 0 50%;
  }

  .tren {
    flex:0 0 25%;
  }

  .glass {
    flex:0 0 25%;
  }

  .sal {
    flex:0 0 25%;
  }

  .bag {
    flex:0 0 25%;
  }

  .women {
    flex:0 0 50%;
  }

  .carousel-cell {
    text-align: center;
    width: 25%;
  }

  footer {
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    height: 220px;
    flex: 2;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-left: 3%;
    text-align-last:left;
  }

  .bottomFooter {
    margin: 0;
  }
  
  .icons {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
  }

  .icons ul {
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-left: 30%;
  }

  .icons a {
    display: inline;
    padding-left: 10px;
    text-decoration: none;
    color: #fff;
  }
} 



@media (min-width: 600px) {
  
.carousel-cell {
  text-align: center;
  width: 50%;
  }
}



@media all and (min-width: 1040px) {
    
.carousel-cell {
  text-align: center;
  width: 25%;
  }
}